
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav class="navbar  navbar-light" id="sidebar2" th:fragment="header" style="background-color: #DF6D14;">
    <div class="d-flex flex-row-reverse ms-auto">
      <div class="p-2">
          <select id="locales">
              <option value="nl" th:text="NL" ></option>
              <option th:if="__${#locale}__=='fr'" value="fr" th:text="FR" selected ></option>
              <option th:unless="__${#locale}__=='fr'" value="fr" th:text="FR" ></option>
          </select>
      </div>

      <div sec:authorize="isAuthenticated()"  class="p-2 dropdown">
          <a class="nav-link" th:href="@{/}">Home</a>
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false" style="color: #000000;">
              <span class="navbar-brand"  sec:authentication="principal.username"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <div sec:authorize="hasRole('ROLE_ADMIN')">
                  <li><a class="dropdown-item" th:href="@{/admin/allusers}">All Users</a></li>
                  <li><a class="dropdown-item" th:href="@{/admin/allarticles}">All Articles</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" th:href="@{/admin/Statistics}">Statistics</a></li>
              </div>
              <div sec:authorize="hasRole('ROLE_COOKER')">
                  <li><a class="dropdown-item" th:href="@{/articles}">My Articles</a></li>
                  <li><a class="dropdown-item" th:href="@{/article/Statistics}">My Articles Statistics</a></li>
              </div>
              <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                  <li><a class="dropdown-item" th:href="@{/command/all}">My Commands</a></li>
              </div>

              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/logout/">Log out</a></li>
          </ul>

      </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>
      <script type="text/javascript">
          $(document).ready(function() {
              $("#locales").change(function () {
                  var selectedOption = $('#locales').val();
                  if (selectedOption != ''){
                      window.location.replace('?lang=' + selectedOption);
                  }
              });
          });
      </script>

      <script
              src="http://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script>
          $(document).ready( function () {
              $('#dtBasicExample').DataTable();
          } );

          $.extend(true, $.fn.dataTable.defaults, {
              "language": {
                  "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
              }
          });


      </script>

  </nav>


</html>