
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav class="navbar  navbar-light" id="sidebar2" th:fragment="header" style="background-color: #DF6D14;">
    <div class="d-flex flex-row-reverse ms-auto">
      <div class="p-2">
          <select id="locales">
              <option value="nl" th:text="NL" ></option>
              <option th:if="__${#locale}__=='fr'" value="fr" th:text="FR" selected ></option>
              <option th:unless="__${#locale}__=='fr'" value="fr" th:text="FR" ></option>
          </select>
      </div>
      <div class="p-2 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false" style="color: #000000;">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>

      </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>
      <script type="text/javascript">
          $(document).ready(function() {
              $("#locales").change(function () {
                  var selectedOption = $('#locales').val();
                  if (selectedOption != ''){
                      window.location.replace('?lang=' + selectedOption);
                  }
              });
          });
      </script>

  </nav>


</html>