<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title sec:authorize="hasRole('ROLE_COOKER')" >Statistics of My Articles  </title>
        <title sec:authorize="hasRole('ROLE_ADMIN')" > Statistics of All commands </title>
</head>
<body>
<nav th:replace="common/navbar :: header"/>
</br>

<div class="d-flex p-4 justify-content-center">
    <div class="card text-center ">
        <div class="card-header">
            <a sec:authorize="hasRole('ROLE_COOKER')">Statistics of My Articles</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" > Statistics of All commands</a>
        </div>
        <div class="card-body">
            <div class="row">
                <table id="dtBasicExample" class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Article</th>
                        <th scope="col">Success Commandes Count </th>
                        <th scope="col">Success Commandes Quantity </th>
                        <th scope="col">Failed Commandes Count </th>
                        <th scope="col">Failed Commandes Quantity</th>
                        <th scope="col">Total Commandes Incoming</th>
                        <th scope="col">Commandes Users Count</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr data-th-each="stat : ${statArticles}">
                        <td>

    <img th:if="${stat.article.haveImage()}" th:src="${stat.article.getMainImage().fullUrlImg}" class="rounded float-left" alt="..." width="100">


                        </td>
                        <td>[[${stat.article.name}]]</td>
                        <td>[[${stat.successCommandesCount}]]</td>
                        <td>[[${stat.successCommandesQuantity.getCount()}]]</td>

                        <td>[[${stat.failedCommandesCount}]]</td>
                        <td>[[${stat.failedCommandesQuantity.getCount()}]]</td>
                        <td>[[${stat.totalCommandesIncoming}]]</td>
                        <td>[[${stat.commandesUsersCount}]]</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body><footer th:replace="common/footer :: footer"/>
</html>