<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Subscription</title><link rel="shortcut icon" href="/img/img.jpeg">
</head>
<body>
<nav th:replace="common/navbar :: header"/>
</br>

<div class="d-flex p-4 justify-content-center">
    <div class="card text-center w-50 ">
        <div class="card-header">
            <a th:text="#{registration.title}"></a>
        </div>
        <div class="card-body">
            <div class="row">

                <div class=" col-lg-offset-2">
                    <form  th:action="@{/subscribe/new}" th:method="post" class="form-horizontal" th:object="${user}">
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 control-label" th:text=#{login.username}>User name</label>
                            <div class="col-sm-8">
                                <input id= "username" class="form-control" type="text"  th:field="*{username}" placeholder="Enter your user name" />
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 control-label" th:text=#{login.password}>Password</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="password" name="password" id="password"
                                       th:placeholder="#{login.form.password}" required="required"/>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="firstName" class="col-sm-3 control-label" th:text=#{login.firstname}>First name</label>
                            <div class="col-sm-8">
                                <input id= "firstName" class="form-control" type="text"  th:field="*{firstName}" placeholder="Enter your first name" />
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastName" class="col-sm-3 control-label" th:text=#{login.lastname}>Last name</label>
                            <div class="col-sm-8">
                                <input id= "lastName" class="form-control" type="text"  th:field="*{lastName}" placeholder="Enter your last name" />
                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mail" class="col-sm-3 control-label" th:text=#{login.email}>Email</label>
                            <div class="col-sm-8">
                                <input id= "mail" class="form-control" type="text"  th:field="*{mail}" placeholder="email@mail.com" />
                                <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-sm-3 control-label" th:text=#{login.phone}>Phone</label>
                            <div class="col-sm-8">
                                <input id="phone" class="form-control" type="tel" th:field="*{phone}" placeholder="Phone" pattern="[0-9]{4}[0-9]{2}[0-9]{2}[0-9]{2}"
                                       required /><small>Format: 0485055704</small>

                                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="gender" class="col-sm-3 control-label" th:text=#{login.gender}>Gender</label>
                            <div class="col-sm-8">
                                <select class="form-select mb-3" th:field="*{gender}" name="gender" id="gender" required="required">
                                    <option th:each="gend : ${T(be.mkfin.messandcantine.entity.Gender).values()}"
                                            th:value="${gend}"
                                            th:text="${gend}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="gender" class="col-sm-3 control-label" th:text=#{login.role}>Type</label>
                            <div class="col-sm-8">
                                <select class="form-select mb-3" th:field="*{role}" name="role" id="role" required="required">
                                    <option th:each="role : ${T(be.mkfin.messandcantine.entity.UserRegistered).getRolesForSubscription()}"
                                            th:value="${role}"
                                            th:text="${role}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked onchange="enableButton(value)">
                                <label class="form-check-label" for="flexCheckChecked" th:text=#{login.acceptTerm}>
                                    I agree to the Terms and Conditions
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            </br>
                            <div class="col-sm-offset-3 col-sm-6">
                                <button id="buttonSb" type="submit" class="btn btn-success" th:text="#{registration.form.save}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function enableButton(value){
        document.getElementById('buttonSb').disabled = ! document.getElementById("flexCheckChecked").checked;
    }
</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body><footer th:replace="common/footer :: footer"/>
</html>