<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title th:text="${article.name}"></title><link rel="shortcut icon" href="/img/img.jpeg">
</head>
<body>
<nav th:replace="common/navbar :: header"/>
</br>

<div class="row">
    <div class="col-sm-6">
        <div class="d-flex p-4 justify-content-center">
            <div class="card mb-3 ">
                <img th:if="${article.haveImage()}" th:src="${article.getMainImage().fullUrlImg}" class="card-img-top"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">[[${'['+article.category+'] '+article.name}]]</h5>
                    <p class="card-text">[[${article.description}]]</p>
                    <p class="card-text"><small class="text-muted">[[${article.cooker.firstName} + ' '
                        +${article.cooker.lastName} ]]</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        </br>
        </br>
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">New Availability </h5>
                <form  th:action="@{/article/newavail}" th:method="post" class="form-horizontal" th:object="${availability}">
                    <input type="hidden"  th:field="*{id}">
                    <input type="hidden" th:field="*{article}" />
                    <div class="form-group row">
                        <label for="startLocalDateTime" class="col-sm-3 control-label">Start Date & Time </label>
                        <div class="col-sm-8">
                            <input  id="startLocalDateTime" class="form-control" type="datetime-local" th:field="*{startLocalDateTime}"/>
                            <span th:if="${#fields.hasErrors('startLocalDateTime')}" th:errors="*{startLocalDateTime}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="endLocalDateTime" class="col-sm-3 control-label">End Date & Time  </label>
                        <div class="col-sm-8">
                            <input  id="endLocalDateTime" class="form-control" type="datetime-local" th:field="*{endLocalDateTime}"/>
                            <span th:if="${#fields.hasErrors('endLocalDateTime')}" th:errors="*{endLocalDateTime}"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="price" class="col-sm-3 control-label">Price </label>
                        <div class="col-sm-8">
                            <input id="price" class="form-control" type="number" min="1" step="any" th:field="*{price}" placeholder="10.00" pattern="[1-9]{1}[0-9]{1}"
                                   required />
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nbreOrder" class="col-sm-3 control-label">Quantity </label>
                        <div class="col-sm-8">
                            <input id="nbreOrder" class="form-control" type="number" min="1"  th:field="*{nbreOrder}" required />
                            <span th:if="${#fields.hasErrors('nbreOrder')}" th:errors="*{nbreOrder}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        </br>
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-success" th:text="#{registration.form.save}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body><footer th:replace="common/footer :: footer"/>
</html>